
<header class="header">

  <nav class="navbar navbar-expand-lg header-nav">
    <div class="navbar-header">
       <a id="mobile_btn" href="javascript:void(0);">
          <span class="bar-icon">
             <span></span>
             <span></span>
             <span></span>
          </span>
       </a>
       <a href="index.html" class="navbar-brand logo">
          <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
       </a>
    </div>
    <div class="main-menu-wrapper">
       <div class="menu-header">
          <a href="index.html" class="menu-logo">
             <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
          </a>
          <a id="menu_close" class="menu-close" href="javascript:void(0);">
             <i class="fas fa-times"></i>
          </a>
       </div>
       <ul class="main-nav">
          <li class="has-submenu active">
             <a >Home</a>
             <!-- <a  (click)="onLoginClickEvent(1)" >Home</a> -->
          </li>
          <li class="has-submenu">
             <a href="javascript:void(0);">Doctors <i class="fas fa-chevron-down"></i></a>
             <ul class="submenu">
                <li><a href="doctor-dashboard.html">Doctor Dashboard</a></li>
                <li><a href="appointments.html">Appointments</a></li>
                <li><a href="schedule-timings.html">Schedule Timing</a></li>
                <li><a href="my-patients.html">Patients List</a></li>
                <li><a href="patient-profile.html">Patients Profile</a></li>
          
             </ul>
          </li>
          <li class="has-submenu">
             <a href="javascript:void(0);">Patients <i class="fas fa-chevron-down"></i></a>
             <ul class="submenu">
           
                <li>
                   <a href="/search-doctors">Search Doctor</a>
               
                </li>
                <li><a href="/doctor-profile">Doctor Profile</a></li>
                <li>
                   <a href="/booking-appointment">Booking</a>
                 
                </li>
                <li><a href="/checkout">Checkout</a></li>
                <li><a href="booking-success.html">Booking Success</a></li>
                <li><a href="patient-dashboard.html">Patient Dashboard</a></li>
                <li><a href="favourites.html">Favourites</a></li>
                <li><a href="chat.html">Chat</a></li>
                <li><a href="profile-settings.html">Profile Settings</a></li>
                <li><a href="change-password.html">Change Password</a></li>
             </ul>
          </li>
          <li class="has-submenu">
             <a href>Pharmacy <i class="fas fa-chevron-down"></i></a>
             <ul class="submenu">
                <li><a href="pharmacy-index.html">Pharmacy</a></li>
                <li><a href="pharmacy-details.html">Pharmacy Details</a></li>
                <li><a href="pharmacy-search.html">Pharmacy Search</a></li>
                <li><a href="product-all.html">Product</a></li>
                <li><a href="product-description.html">Product Description</a></li>
                <li><a href="cart.html">Cart</a></li>
                <li><a href="product-checkout.html">Product Checkout</a></li>
                <li><a href="payment-success.html">Payment Success</a></li>
                <li><a href="pharmacy-register.html">Pharmacy Register</a></li>
             </ul>
          </li>
          <li class="has-submenu">
             <a href="javascript:void(0);">Laboratory <i class="fas fa-chevron-down"></i></a>
             <ul class="submenu">
                <li><a href="about-us.html">About Us</a></li>
                <li><a href="contact-us.html">Contact Us</a></li>
                <li class="has-submenu">
                   <a href="javascript:void(0);">Call</a>
                   <ul class="submenu inner-submenu">
                      <li><a href="voice-call.html">Voice Call</a></li>
                      <li><a href="video-call.html">Video Call</a></li>
                   </ul>
                </li>
                <li class="has-submenu">
                   <a href="javascript:void(0);">Invoices</a>
                   <ul class="submenu inner-submenu">
                      <li><a href="invoices.html">Invoices</a></li>
                      <li><a href="invoice-view.html">Invoice View</a></li>
                   </ul>
                </li>
                <li class="has-submenu">
                   <a href="javascript:void(0);">Authentication</a>
                   <ul class="submenu inner-submenu">
                      <li><a href="login-email.html">Login Email</a></li>
                      <li><a href="login-phone.html">Login Phone</a></li>
                      <li><a href="doctor-signup.html">Doctor Signup</a></li>
                      <li><a href="patient-signup.html">Patient Signup</a></li>
                      <li><a href="forgot-password.html">Forgot Password 1</a></li>
                      <li><a href="forgot-password2.html">Forgot Password 2</a></li>
                      <li><a href="login-email-otp.html">Email OTP</a></li>
                      <li><a href="login-phone-otp.html">Phone OTP</a></li>
                   </ul>
                </li>
                <li class="has-submenu">
                   <a href="javascript:void(0);">Error Pages</a>
                   <ul class="submenu inner-submenu">
                      <li><a href="error-404.html">404 Error</a></li>
                      <li><a href="error-500.html">500 Error</a></li>
                   </ul>
                </li>
                <li><a href="blank-page.html">Starter Page</a></li>
                <li><a href="pricing.html">Pricing Plan</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="maintenance.html">Maintenance</a></li>
                <li><a href="coming-soon.html">Coming Soon</a></li>
                <li><a href="terms-condition.html">Terms & Condition</a></li>
                <li><a href="privacy-policy.html">Privacy Policy</a></li>
                <li><a href="components.html">Components</a></li>
             </ul>
          </li>
          <li class="has-submenu">
             <a href="#">Ambulance <i class="fas fa-chevron-down"></i></a>
             <ul class="submenu">
                <li><a href="blog-list.html">Blog List</a></li>
                <li><a href="blog-grid.html">Blog Grid</a></li>
                <li><a href="blog-details.html">Blog Details</a></li>
             </ul>
          </li>
          <li class="has-submenu">
             <a href="#">Insurance</a>
          </li>
          <li class="login-link">
             <a href="login.html">Login / Signup</a>
          </li>
       </ul>
    </div>
    <ul class="nav header-navbar-rht">
       <li class="nav-item contact-item">
          <div class="header-contact-img">
             <i class="far fa-hospital"></i>
          </div>
          <div class="header-contact-detail">
             <p class="contact-header">Contact</p>
             <p class="contact-info-header">+91 988 866 4667</p>
          </div>
       </li>
       <li class="nav-item">
          <a class="nav-link header-login" >Login </a>
          <!-- (click)="onLoginClickEvent(2)" -->
       </li>
    </ul>
 </nav>
 <div class="breadcrumb-bar-two">
  <div class="container">
      <div class="row align-items-center inner-banner">
          <div class="col-md-12 col-12 text-center">
              <h2 class="breadcrumb-title">Dashboard</h2>
              <nav aria-label="breadcrumb" class="page-breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                      <li class="breadcrumb-item" aria-current="page">Dashboard</li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
</div>

</header>
